<h1>Email Statistics</h1>

<h2>Total Stats</h2>
Sent: <%= @total_stats[:sent] %><br>
Opened: <%= @total_stats[:opened] %><br>
Clicks: <%= @total_stats[:clicked] %>

<h2>Rates</h2>
<table>
  <tr>
    <th>Email Type</th>
    <th>Open Rate</th>
    <th>Click Rate</th>
  </tr>
  <% @rate_stats.each do |type, rates| %>
    <tr id="<%= type %>-stats">
      <td><%= type %></td>
      <td id="<%= type %>-open-rate"><%= (rates[:opened]*100).to_i %>%</td>
      <td id="<%= type %>-click-rate"><%= (rates[:clicked]*100).to_i %>%</td>
    </tr>
  <% end %>
</ul>
